*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html,body{
    width: 100%;
    height: 100%;  
}
#bg{
    height: 100%;
    width: 100%;
    background-color: rgb(216, 221, 226);
}
img{
    height: 50%;
    position: absolute;
    top: 50%;
  
}
#img1{
    left: 25%;
}
#img2{
    left: 50%;
}
#img3{
    left: 75%;
}
img:hover{
    height: 60%;
}
